.chestCanvas{
    border-style:outset;
    border-width:5px;
    border-radius: 10px;
    background-image: url("imgs/imgs/wood.png");
    position: absolute;
    top:12px;
    left:12px;
}
.inventoryCanvas{
    border-style:outset;
    border-width:5px;
    border-radius: 10px;
    background-image: url("imgs/imgs/wood.png");
    position: absolute;
    top:12px;
    right:515px;

}
.gameCanvas{
    border-width:5px;
    border-radius: 10px;
    background: black;
}